.custom-checkbox {
	cursor: pointer;
	margin-right: 20px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.25rem;

	&:hover {
		color: $main-color;
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	&__checkmark {
		display: none;
		margin-right: 10px;
		height: 15px;
		width: 15px;
		border: 1px solid $txt-second-color;

		i {
			transform: scale(0);
			transition: transform 0.3s ease;
		}
	}

	input:checked ~ &__checkmark {
		background-color: $main-color;
		border: 1px solid $main-color;
		color: $txt-main-color;
	}

	input:checked ~ &__checkmark > i {
		transform: scale(1);
	}
}
