.section-product {
	background-color: $txt-main-color;
	max-width: 1600px;
	margin: 0 auto;
	margin-bottom: 7rem;
}

.section-title {
	font-size: 3.2rem;
	font-weight: 600;
	text-align: center;
	padding-top: 8rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid $txt-second-color;
}

.section-body {
	margin-top: 2rem;
	text-align: center;
}
